<div class="content d-flex align-items-center ">
  <div class="d-flex flex-column div-title">
    <h1 class="main-title">OPA!</h1>
    <h2 class="second-title">Parece que a página que você está procurando não foi encontrada.</h2>
    <h3 class="third-title">Talvez você encontre aqui:</h3>
    <a routerLink="/linha-onibus" routerLinkActive="active">Linhas de Ônibus</a>
    <a routerLink="/linha-lotacao" routerLinkActive="active">Linhas de Lotação</a>
  </div>
  <img src="../../../assets/img/erro404.png" alt="Erro 404 Pinguim" class="image img-fluid">
</div>
