<div class="d-flex flex-column">
  <h4 class="title mt-3">Linhas de Lotação</h4>
  <hr class="line-main mb-3">
</div>
<div class="table content">
  <table *ngIf="miniBusList" datatable class="responsive thead-light table-hover">
    <thead>
      <tr>
        <th class="dt-center">CÓDIGO</th>
        <th>NOME</th>
        <th class="dt-center">ITINERÁRIO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of miniBusList">
        <td class="dt-center">{{list.codigo}}</td>
        <td>{{list.nome}}</td>
        <td class="dt-center"><a [routerLink]="['/itinerario-lotacao', list.id]">Ver Itinerário</a></td>
      </tr>
    </tbody>
  </table>
</div>
